<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>通讯录实现.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63F346481C7FBB610078C60C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63F346641C7FBB610078C60C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63F3466F1C7FBB620078C60C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
